body {
    background-color: powderblue;
}

div {
    width: 1000px;
    margin: 50px;
}

a:hover {
    color: red;
}

#title {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 40px;
}

.subtitle {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
}

.major {
    font-style: italic;
}
